!!! 5
html
	head
		title ITDomination
		link(href="/css/screen.css", media="screen", rel="stylesheet", type="text/css")
		script(type="text/javascript", src="/js/jquery-1.6.2.min.js")
		script(type="text/javascript", src="/socket.io/socket.io.js")
		script(type="text/javascript", src="/js/itd.js")
	body hello

