!!! 5
html
	head
		title ITDomination
		link(href="/css/screen.css", media="screen", rel="stylesheet", type="text/css")
		script(type="text/javascript", src="/js/jquery-1.6.2.min.js")
		script(type="text/javascript", src="/socket.io/socket.io.js")
		script(type="text/javascript", src="/js/itd.js")
	body 
		#wrapper
			#left
				#enemy.side
					.back-fields
						.deck-field.field-wrapper
						.back-field.field-wrapper
						.back-field.field-wrapper
						.back-field.field-wrapper
						.tomb-field.field-wrapper
					.front-fields
						.front-field.field-wrapper
						.front-field.field-wrapper
						.front-field.field-wrapper
				#market 
					.field-wrapper
				#player.side
					.front-fields
						.front-field.field-wrapper
						.front-field.field-wrapper
						.front-field.field-wrapper
					.back-fields
						.tomb-field.field-wrapper
						.back-field.field-wrapper
						.back-field.field-wrapper
						.back-field.field-wrapper
						.deck-field.field-wrapper
			#right
				#game-info 
				#game-log
					ul#log
				button#turn-end 턴종료 
			#hand-wrapper
				#hand-background
				#hand
			button#hand-toggle Toggle Hand
			
			#intro.full-screen intro
			#card-info 
				#card-info-image
				#card-info-text sldkfjsdlkfj
				#card-info-action
					button#card-info-use Use this Card!
					button#card-info-close Close
				#card-info-background
	



