

body {
	font-family : "Tahoma", "Malgun Gothic";
	font-size : 0.8em;
}

#wrapper {
	position:relative;
	margin:auto;
	width:920px;
	padding-top:10px;
}

#intro { 
	display:none;
}

#lobby-screen{
}

#game-screen{
}




/* Game Field Style */

#left { float:left;
}
#right { float:right; 
}
#enemy .deck-field { float: left; }
#enemy .tomb-field { float: left; }
#enemy .back-fields { clear: left; }
#enemy .back-field { float: left; }
#enemy .front-fields { clear:left; }
#enemy .front-field { float:left; }

#player .front-fields { clear:left; }
#player .front-field { float:left; }
#player .back-fields { clear:left; }
#player .back-field { float:left;}
#player .tomb-field { float:left ;}
#player .deck-field { float:left ;}

.front-fields { padding-left:112px; height:155px;}
.back-card {background:url('/back.jpg');}

#market { 
	height:150px;
	width:100px;
	padding-left : 225px;
	float:left;
	clear:left;
	position:relative;
	z-index:2;
}
#market> div { position:absolute; z-index:1;}
#market>div img {z-index:1;}
#game-info {
	width:300px;
	float:right;
	margin-bottom:20px;
	padding:10px;
}

#game-occ{
	background : url(/flag.png) no-repeat;
	padding-left:50px;
	padding-top:10px;
	height:48px;
}

#game-occ-bar-wrapper {
	padding:20px 50px 0px 50px;
}

#game-occ-bar-background{
	height:3px;
	width:100%;
	background : #736aff;
	position:relative;
}

#game-occ-bar {
	height : 100%;
	width : 50%;
	background : #f75d59;
	position:absolute;
}

#game-occ-enemy{
	float:left;
	width:50px;
	height:30px;
	text-align:center;
}

#game-occ-player{
	float:right;
	width:50px;
	height:30px;
	text-align:center;
}

#game-occ-enemy-value {font-size : 1.2em; font-weight:bold; color : #f75d59;}
#game-occ-player-value { font-size : 1.2em; font-weight:bold; color : #736aff;}

#game-money {
	background : url(/coin.png) no-repeat;
	height:58px;
	text-align:right;
	line-height:20px;
	padding-right:10px;
	color : #fdd017;
	font-size : 1.5em;
	font-weight:bold;
	text-shadow : 0 1px 1px #eac117;/* eac117 */
}

.money-per-turn { font-size : 0.8em;}
#game-launch {
	background : url(/launch.jpg) no-repeat;
	height:48px;
	text-align:right;
	line-height:20px;
	padding-right:10px;
	color : #fdd017;
	font-size : 1.5em;
	text-shadow : 0 1px 1px #eac117;/* eac117 */
}
.launch-text { font-size:0.8em;}
#game-log {
	width:300px;
	height:300px;
	float:right;
	clear:right;
	padding:10px 10px 5px 10px;
	overflow-y : scroll;
}
#game-log li {padding-bottom : 2px;}
#game-chat {
	width:320px;
	float:right;
	margin-bottom:10px;
	clear:right;
}
#game-chat-content { 
width:77%;
}
#game-chat-submit{
width:20%; float:right
}

#turn-end { float:right; clear:right; padding : 20px 20px 20px 20px; width:100%;}

#hand-toggle{
	cursor : pointer; text-align:center;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	clear:both;
}

#hand-wrapper{
	display:none;
	z-index : 5;
	border:1px solid;
	position:absolute;
	width:90%;
	left:0;
	right:0;
	margin:auto;
	clear:both;
	height : 160px;
	bottom:50px;
}
#hand-wrapper .field-wrapper {margin:10px;}

#hand-background{
	opacity:0.9;
	background:black;
	position:absolute;
	height:100%;
	width:100%;
}
#hand { z-index:3000; position:absolute;}
#hand .field-wrapper {z-index:3000; float:left; position:relative;}
#hand img{z-index:3000; position:absolute;}



#card-info {
	z-index:500;
	display:none;
	width:480px;
	height:320px;
	position:absolute;
	top:25%;
	margin : auto;
	left:0;
	right:0;
	box-shadow : 5px 5px 5px black;
	-moz-box-shadow : 5px 5px 5px #222222;
}

#card-info-background{
	position:absolute;
	width:100%;
	height:100%;
	background:black;
	opacity:0.9;
	z-index:-300;
}

#card-info-image {
	z-index:300;
	background:white;
	height:280px;
	width:200px;
	margin:20px;
	float:left;
}

#card-info-image img{
	height:280px;
	width:200px;
}
#card-info-text{
	z-index:300;
	color:white;
	float:left;
	width:200px;
	height:240px;
	margin:10px;
	margin-left:10px;
	margin-top:20px;
}

#card-info-action{
	float:right;
	z-index:300;
	margin:5px;
}
#card-info-action button{
	padding:5px 15px 5px 15px;
}

#card-info h1 { text-align:center; font-size : 1.5em; font-weight:bold; padding:0px 0px 0px 0px;}
#card-info .card-info-type { text-align:right; font-size : 0.9em; font-weight:bold; padding : 0px 0px 20px 0px; font-family : "Helvetica";}

#card-info table { margin:auto;}
#card-info td { width:30px; text-align:center; padding-bottom : 5px;}
#card-info .card-info-key { width: 50px; text-align:center;}
#card-info .card-info-value { width: 100px; text-align:center; }
#card-info .hl { font-weight : bold;}
#card-info .card-info-effect-header { padding: 5px; font-weight:bold;}
#card-info .card-info-effect {padding-left:20px; text-indent:0.5em;}

.full-screen{
	width:100%;
	height:100%;
	position:absolute;
}

.field-wrapper{
	width:100px;
	height:140px;
	margin:5px;
	text-align:center;
	line-height:140px;
	font-size:5em;
	box-shadow : 2px 2px 2px #444444;
	-moz-box-shadow : 2px 2px 2px #444444;
	position:relative;
}

.field-text-wrapper{
	position:absolute;
	left:0px;
	right:0px;
	margin:auto;
	width:80px;
	height:25px;
	text-align:center;
	font-size : 0.3em;
	font-weight:bold;
	padding:0px;
	line-height:25px;
	bottom:6px;
}

.field-wrapper img {cursor:pointer;}
.side{
	float:left;
	clear:left;
	width : 560px;
	height : 300px;
	padding-bottom:10px;
}
.sep{padding-top:10px;}

/* Lobby Style */

#location { clear:both; padding:10px; text-align:center; font-size :2em; padding-bottom:20px;}
#lobby-image { float:left; width:640px; height:480px;}
#lobby-image img { width:640px; height:480px;}

#lobby-user { float:right; overflow-y : scroll; width:250px; height : 200px; padding:5px;}
#lobby-log { float:right; overflow-y : scroll; width:250px; height : 420px; padding:5px; margin-top:10px;}
#lobby-chat-form { float:right; width:260px; margin-top:0px;}
#lobby-chat-content { width:65%; float:left;}
#lobby-chat-submit{width:30%; float:right;}
#move-location { margin:10px; padding:15px 250px 15px 250px; font-size : 1.5em;}
#move-location-wrapper { clear:both; text-align:center;}
